* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("./SakuraGlas.png") no-repeat center center fixed; ;
  background-color: #f0f0f0; /* Fallback color */; 
  background-size: cover;
}


header {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  padding: 5px 5px; /* Reduced padding for better alignment */
  background-color: rgba(68, 16, 70, 0.8);
  font-size: 0.8rem;
  text-align: center  ;
}

.logo {
  width: 50px;
  height: 50px;
  background-size: contain;
  border-radius: 50%;
}

h1 {   font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight:500px;
  font-size: 2em;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
  padding: 12px;
  
  color: #cfc9c0;
  text-shadow: 0 0 10px #2d1c55, 0 0 10px #f6bc6b, 0 0 20px #f3efda, 0 0 0px #fff;transition: all 0.3s ease-in-out;
}

h1:hover {
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #e9dc9a, 0 0 20px #faa42b, 0 0 30px #7e12f9;
   transform: scale(1.05);
}

h2 {
  font-family: "Dancing Script", cursive;
  line-height: 1.2;
  font-weight: 800;
  text-align: center;
}

h3 {font-size: 1.5em;
    line-height: 1.2;
    font-weight: 500;
    text-align: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Darstellung RandomMessage: */

.message {
  display: block;
  padding: 12px 20px;
  font-size: 1rem;
  color: rgb(43, 10, 44);
  text-align: center;
}

/* ------  button:  ------ */

button {
  display: block;/* Makes the button a block element */
  margin: 20px auto; /* Centers the button horizontally */
  border-radius: 12px;
  padding: 0.6em 1.4em;
  font-size: 0.75rem;
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  background: linear-gradient(135deg, #0f0f0f, #c081c2);
  color: #e9d8eb;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

button:hover {
  border-color: #e6a930;
  background: linear-gradient(135deg, #333333, #1a1a1a);
  transform: scale(1.05);
  color: #d2b170;
}

/* ------  button Ende  ------ */



/* To do: Responsive Design!

 @media (min-width: 480px) oder andere Größe? {
  

} */
